.page-wrap {
    width: 960px;
    margin: 0 auto;
}

:root {
    background: rgb(192, 13, 13)
}

#container {
    display: inline-grid;
    margin-top: 5%;
    border: 5px solid black;
    margin-left: 13%;
}

.square1 {
    background: white;
}

#buttons {
    position: relative;
    top: -140px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-top: 1%;
    font-size: 15px; 
    color: white;
}

.reset {
    border: solid black;
    background: rgb(67, 67, 243);
    color: black;
}

.resize {
    border: solid black;
    background: rgb(67, 67, 243);
    color: black;
}

.gradient {
    border: solid black;
    background: rgb(67, 67, 243);
    color: black;
}

.black {
    border: solid black;
    background: rgb(67, 67, 243);
    color: black;
}

.color {
    border: solid black;
    background: rgb(67, 67, 243);
    color: black;
}


.reset:active {
    box-shadow: 0px 0px 5px 5px black;
    background-color: goldenrod;
    color: black;
    border: solid 3px black;
}



.resize:active {
    box-shadow: 0px 0px 5px 5px black;
    background-color: goldenrod;
    color: black;
    border: solid 5px black;
}



.gradient:active {
    box-shadow: 0px 0px 5px 5px black;
    background-color: goldenrod;
    color: black;
    border: solid 5px black;
}



.black:active {
    box-shadow: 0px 0px 5px 5px black;
    background-color: goldenrod;
    color: black;
    border: solid 5px black;
}


.color:active {
    box-shadow: 0px 0px 5px 5px black;
    background-color: goldenrod;
    color: black;
    border: solid 5px black;
}

#sketch {
    position: relative;
    top: -350px;
    margin-left: 95%;
    width: 500px;
}

.knobs {
    position: relative;
    top: -150px;
    display: flex;
    justify-content: space-between;
}
