:root {
    background: rgb(192, 13, 13)
}

#container {
    display: inline-grid;
    margin-top: 5%;
    border: 5px solid black;
    margin-left: 30%;
}

.square1 {
    background: white;
}

.reset {
    position: absolute;
    margin-left: 31%;
    margin-top: 1%;
    font-size: 15px; 
    background-color: rgb(24, 8, 143);
    border: solid 4px black;
    color: white;
}

.reset:active {
    box-shadow: 0px 0px 5px 5px black;
    background-color: goldenrod;
    color: black;
    border: solid 3px black;
}

.resize {
    position: absolute;
    margin-top: 1%;
    margin-left: 35%;
    font-size: 15px; 
    background-color: rgb(24, 8, 143);
    border: solid 4px black;
    color: white;
}

.resize:active {
    box-shadow: 0px 0px 5px 5px black;
    background-color: goldenrod;
    color: black;
    border: solid 5px black;
}

.gradient {
    position: absolute;
    margin-top: 1%;
    margin-left: 41%;
    font-size: 15px; 
    background-color: rgb(24, 8, 143);
    border: solid 4px black;
    color: white;
}

.gradient:active {
    box-shadow: 0px 0px 5px 5px black;
    background-color: goldenrod;
    color: black;
    border: solid 5px black;
}

.black{
    position: absolute;
    margin-top: 1%;
    margin-left: 46%;
    font-size: 15px; 
    background-color: rgb(24, 8, 143);
    border: solid 4px black;
    color: white;
}

.black:active {
    box-shadow: 0px 0px 5px 5px black;
    background-color: goldenrod;
    color: black;
    border: solid 5px black;
}

.color {
    position: absolute;
    margin-top: 1%;
    margin-left: 52.5%;
    font-size: 15px; 
    background-color: rgb(24, 8, 143);
    border: solid 4px black;
    color: white;
}

.color:active {
    box-shadow: 0px 0px 5px 5px black;
    background-color: goldenrod;
    color: black;
    border: solid 5px black;
}

#sketch {
    position: absolute;
    width: 500px;
    margin-left: 71%;
    margin-top: -390px;
}

#knob1 {
    position: absolute;

}

#knob2 {
    position: absolute;
    margin-left: 1830px;
